root = true

[*]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
charset = utf-8

[*.{yml,yaml}]
indent_style = space
indent_size = 2

[*.{json,jsonc}]
indent_style = space
indent_size = 2

[*.{ts,js}]
indent_style = space
indent_size = 2

[*.hcl]
indent_style = space
indent_size = 2

[*.toml]
indent_style = space
indent_size = 2

[Dockerfile*]
indent_style = space
indent_size = 4

[*.sh]
indent_style = space
indent_size = 4

[*.py]
indent_style = space
indent_size = 4

[justfile]
indent_style = tab

[Makefile]
indent_style = tab

[*.md]
trim_trailing_whitespace = false
